#banner{
	height:35vh;
}

#main{
	margin-top:0vh;
}

.objects{
	margin:10px;

	width: 31%;
	height: 21%;
	float: left;

	background-color:black;

	padding:10px;

	text-align:center;

	color:white;

	line-height:13vw;
}

.objects span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;

	font-size:120%;
}

.lol{
	background-color:red;
}

#names{
	height:65vh;
	margin-top:-17.5vh;
	font-family: sans-serif;
	color:black;
	font-weight:bold;
	padding:10px;
	line-height:16px;
	font-family:lyon;
}

#head{
	width:97vw;
	left:0px;
	position:absolute;
	margin-left:15px;
	font-family:sans-serif;
	font-weight:bold;
	font-size:7vw;
	line-height:80px;
	padding:10px;
	padding-top:40px;
	font-family:lyon;
	z-index:99999;

    text-align: justify;
    -moz-text-align-last: right; /* Code for Firefox */
    text-align-last: justify;
}

p{
	margin:0;
	padding:0;
}

